adapters==1.1.0
datasets==3.2.0
deepspeed==0.16.5
evaluate==0.4.3
fire==0.7.0
loguru==0.7.3
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
peft==0.14.0
psutil==6.1.1
PyYAML==6.0.2
safetensors==0.5.3
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==75.1.0
tokenizers==0.21.1
torch==2.5.1
tqdm==4.67.1
transformers==4.47.1
typing_extensions==4.13.1
